{% extends 'base.html' %}
{% block title %}{{ 'Редактирование' if edit else 'Создание' }} записи{% endblock %}
{% block content %}
    <h2>{{ 'Редактировать' if edit else 'Новая' }} запись</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title() }}<br>
        {{ form.content.label }} {{ form.content(rows=10) }}<br>
        {{ form.is_private.label }} {{ form.is_private() }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}
